Flask==3.0.3
flask_cors
pinecone-client==3.1.0
python-dotenv
gunicorn
pypdf
pdf2image
pytesseract
langchain
langchain_community
langchain_openai
langchain_pinecone
langchain_text_splitters
langchain_core
langchainhub